.container {
    width:75%;
        /* top, right, bottom, left margins*/
    /*margin: auto, auto, 10px, auto;*/
    border:1px solid #000;
    background-color: #F77171;
}

.pageheader {
    padding: 5px;
    padding-top:1%;
    padding-bottom:1%;
    /*background-image:url("http://www.athleat.co.uk/user/Grass_back.jpg");*/
    text-align:center;
    font-family: sans-Serif;
    font-size: 20px;
    color: #FFF;
    text-shadow:2px 4px #000; /*it says that IE versions before 9 do not support shadow effects*/
    background-color: #2618B1;
}
.links {
    padding-top:5px;
    border-bottom:1px solid #FFF;
    border-top:1px solid #FFF;
    margin:10px, 0, 10px, 0;
    text-align:center;
    background: #FFF;
    font-size:20px;
    }
li {
    display:inline;
    }
.usa {
    font-style:italic;
    display:inline;
    margin-right:10%;
    margin-left: 5%;
}
.eu {
    font-style:italic;
    display:inline;
    margin-right:10%;
    margin-left: 4%;
}
.can {
    font-style:italic;
    display:inline;
    margin-right:10%;
    margin-left: 3%;
}
.car {
    font-style:italic;
    display:inline;
    margin-right:10%;
    margin-left:3%;
}
.pics {
    font-style:italic;
    display:inline;
    margin-right:10%;
    margin-left:3%;
} 
.home {
    font-style:italic;
    display:inline;
    margin-right:10%;
    margin-left:3%;
}
.thanks {
    border:2px solid #000;
    margin:4%;
    width:50%;
    padding: 5px;
    background: #E5E4D7;
    color:#0E200E;
    font-size:19px;
    text-align:center;
    width: 90%;
}
.quote {
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
    font-weight: bold;
    font-size:33px;
    text-align:center;
    color:#141010;
    margin:20px;
    margin-bottom:10px;
}
.box {
    border:4px dotted #fff;
    height:40%;
    width: 80%;
    margin:10%;
}
img {
 
    height:100%;
    width:100%;
}
.span3 {
    border: 2px solid #000;
    margin:5px;
    padding: 2px;
    background: #666;
}
.mail {
    border: 2px solid #000;
    margin:5px;
    padding: 2px;
    background: #fff;
}
.footer {
    height:50px;
    border-top: 1px solid #000;
    background-color:#2C6700;
}
.picsbox {
    
    height: 300px;
    
}
