.container {
    width:95%;
        /* top, right, bottom, left margins*/
    /*margin: auto, auto, 10px, auto;*/
    border:1px solid #000;
    background: #679ED2;
}

.pageheader {
    padding: 1px;
    /*background-image:url("http://www.athleat.co.uk/user/Grass_back.jpg");*/
    text-align:center;
    font-family: sans-Serif;
    font-size: 15px;
    color: #FFF;
    /*text-shadow:1px 1px #FFFFFF; /*it says that IE versions before 9 do not support shadow effects*/
    background-color: #FF4040;
}
.links {
    padding-top:5px;
    border-bottom:1px solid #fff;
    border-top:1px solid #fff;
    margin:10px, 0, 10px, 0;
    text-align:center;
    background: #fff;
    font-size:20px;
    }
li {
    display:inline;
    }
.usa {
    font-style:italic;
    display:inline;
    margin-right:10%;
    margin-left: 5%;
}
.eu {
    font-style:italic;
    display:inline;
    margin-right:10%;
    margin-left: 4%;
}
.can {
    font-style:italic;
    display:inline;
    margin-right:10%;
    margin-left: 3%;
}
.car {
    font-style:italic;
    display:inline;
    margin-right:10%;
    margin-left:3%;
}
.home {
    font-style:italic;
    display:inline;
    margin-right:10%;
    margin-left:3%;
}
.usinfo {
    /*border:2px solid #000;*/
    margin:20px;
    padding: 5px;
    background: #E5E4D7;
    color:#0E200E;
    font-size:19px;
    text-align:center;
    width: 90%;
}
.quote {
    font-family: Goudy Old Style, Garamond, Big Caslon, Times New Roman, serif;
    font-weight: bold;
    font-size:22px;
    text-align:center;
    color:#150C31;
    margin:20px;
}
/*.span3 {
    border: 2px solid #000;
    margin:5px;
    padding: 2px;
    background: #666;
}*/
.footer {
    height:50px;
    border-top: 1px solid #000;
    background-color:#2C6700;
}

.table {
    width:56%;
    border:1px solid black;
    border-collapse:collapse;
   background-color: #666;
    margin-left:20%;
   
}
th,td {
    border:1px solid black;
    border-collapse:collapse;
     background-color: #ccc;
    padding:15px;
}
th {
    font-size:20px;
}

