h1 {
    font-family: Arial;
    font-size: 30px;
    line-height: 2em;
    /*font-style:Italic;*/
    font-weight:Bold;
    font-variant: small-caps;
}
p1 {font:15px Times New Roman, serif;    
}

h2 {font:20px Arial, serif;
    font-style: Italic;
    
}
p2 {font: 19px Times New Roman, sansserif;
