.container {
    width:100%;
    height:100%;
        /* top, right, bottom, left margins*/
    margin: 10px, auto, 10px, auto;
    border:1px solid #000000;
    background: #f57;
}
.pageheader {
    border: 1px solid #000;
    margin: 5px;
    padding: 1px;
    background-image:url("http://www.athleat.co.uk/user/Grass_back.jpg");
    text-align:center;  
    font-family: sans-Serif;
    font-size: 10px;
    text-shadow:1px 1px #FFFFFF; /*it says that IE versions before 9 do not support shadow effects*/
}
.linksbar {
    border:2px solid #000;
    margin:5px;
    text-align:center;  
    background: #666;
    }
li {
    display:inline;
    }
.span6 {
    border:2px solid #000;
    margin:5px;
    padding: 2px;
    background: #666;
    
}
.span3 {
    border: 2px solid #000;
    margin:5px;
    padding: 2px;
    background: #666; 
}
.mail {
    border: 2px solid #000;
    margin:5px;
    padding: 2px;
    background: #fff;
}

@media screen and (max-width: 960px) {
	
	#wrapper {
		width: 94%;
	}
	article {
		width: 65%;
	}
	aside {
		width: 28%;
	}

}

/* for 700px or less */
@media screen and (max-width: 700px) {

	article {
		width: auto;
		float: none;
	}
    
	aside {
		width: auto;
		float: none;
	}

}

/* for 480px or less */
@media screen and (max-width: 480px) {

	header.page {
		height: auto;
	}
	h1 {
		font-size: 24px;
	}
	aside {
		display: none;
	}

}


#page-footer {
    clear:left;
    background:#383838;
    height: 45px;
}
