#wrapper {
    width: 1000px;
    margin: 10px auto 10px auto;
    /*top, right, bottom, left */
    height: 1000px;
    background:#eeeeee;
    border:4px solid #ADD8E6;
}

header {
    width: 100%;
    height: 50px;
    background:#66CCCC;
    text-align: center;
    font-family: Serif;
    font-size: 20px;
    line-height: 1m;
}

.article-header {
    background:#ffffff;
}

nav,aside {
    background:#FFFFCC;
    width:200px;
    height: 909px;
    float: left;
    font-family: Sans-seif;
    font-size: 18px;
    line-height: 1.75em;
}

article {
    /*border: 1px solid #000000;*/
    border: 1px solid #000000;
    background: #ffffff;
    width: 597px;
    float: left;
    font-style: Bold;
}
